.toggleButton{
  
    border:none; 
    background:transparent;
    display: block;
    margin: 15px 0;
   
    width: 100%;
}
@media (min-width: 500px) {
    .toggleButton{
      
        display: flex;
        padding-right: 2rem;
        width: auto;
        align-items: center;
    }
}