.registerBg{
    background-image: url(./../../assets/img/bg-register.jpg);
    background-position: center center;
    height: 80vh;
    background-size: cover;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
